@use 'foundation' as *;

.hamburger {
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
  width: 71px;
  height: 50px;
  background-color: $red;
  cursor: pointer;
  }

  .hamburger span {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 33px;
  height: 4px;
  background-color: $white;
  transition: transform 0.3s, background-color;
  border-radius: 15px;
  }

  .hamburger span:first-child {
  top: 12px;
  }

  .hamburger span:nth-child(2) {
  top: 19px;
  transition: opacity 0.3s;
  }

  .hamburger span:nth-child(3) {
  top: 26px;
  }

  // .hamburger.is-open {
  // right: 20px;
  // top: 32px;
  // }

  .hamburger.is-open span {
  background-color: $white;
  }

  .hamburger.is-active span:first-child {
    top: 22px;
    transform: translateX(-50%) rotate(45deg);
  }

  .hamburger.is-active span:nth-child(2) {
  opacity: 0;
  }

  .hamburger.is-active span:nth-child(3) {
  top: 14px;
  transform: translateX(-50%) rotate(-45deg);
  }
