@use 'foundation' as *;

.hamburger {
  position: fixed;
  z-index: 9999;
  top: 30px;
  right: 15px;
  width: 25px;
  height: 16px;
  cursor: pointer;
  }

  .hamburger span {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: $black;
  transition: transform 0.3s, background-color;
  }

  .hamburger span:first-child {
  top: 0;
  }

  .hamburger span:nth-child(2) {
  top: 8px;
  transition: opacity 0.3s;
  }

  .hamburger span:nth-child(3) {
  top: 16px;
  }

  .hamburger.is-open {
  right: 20px;
  top: 32px;
  }

  .hamburger.is-open span {
  background-color: $white;
  }

  .hamburger.is-active span:first-child {
  top: 15px;
  transform: rotate(-45deg);
  }

  .hamburger.is-active span:nth-child(2) {
  opacity: 0;
  }

  .hamburger.is-active span:nth-child(3) {
  top: 15px;
  transform: rotate(45deg);
  }

  .drawer-menu {
    position: absolute;
    display: none; //これがないと常に空いた状態になってしまう
    z-index: 5000;
    top: 3px;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: $white;
    }

    .drawer-menu__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
    }

    .drawer-menu__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .drawer-menu__item {
    display: inline-block;
    }

    .drawer-menu__item:not(:first-child) {
    margin-top: 25px;
    }

    .drawer-menu__link {
    color: $white;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.05em;
    font-weight: $medium;
    display: inline-block;
    width: 200px;
    padding-bottom: 25px;
    text-align: center;
    border-bottom: 1px pink solid;
    }

    .drawer-menu__link.drawer-menu__link--contact  {
    background-color: pink;
    padding:14px 0;
    transition:0.3s background-color;
    border: none;
    }

    .drawer-menu__link.drawer-menu__link--contact:hover {
    background-color: pink;
    opacity: 1;
    }