@use 'foundation' as *;

.header {
  height: 50px;
  @include mq("md") {
    height: 80px;
}
}

.header__inner {
  display: flex;
  height: inherit;
  justify-content: space-between;
  padding-left: 20px;
  @include mq("md") {
    padding: 0 95px 0;
}
}

.header__logo {
  height: inherit;
  width: 100%;
  max-width: 209px;
  @include mq("md") {
    max-width: 192px;
  }
}

.header__logo a {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__logo-sp {
  display: block;
  @include mq("md") {
    display: none;
  }
}

.header__logo-pc {
  display: none;
  @include mq("md") {
    display: block;
  }
}


.header__nav {
  height: inherit;
}

.header__items {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__item {
  @include mq("md") {
    margin-left: 33px;
    font-size: 13px;
    font-weight: bold;
  }
}

.header__item:last-child{
  @include mq("md") {
    background-color: $red;
    color: $white;
    padding: 6px 30px;
  }
}