@use 'foundation' as *;

.support {
  background-color: $red;
  color: $white;
  text-align: center;

}

.support__main-title {
  margin-top: 7px;
  font-size: 25px;
  line-height: 1.667;
  @include mq("md") {
    font-size: 50px;

  }
}

.support__sub-title {
  font-size: 18px;
  margin-top: 17px;
  @include mq("md") {
    margin-top: 17px;
    font-size: 23px;
  }


}